body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100PX;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 5%;
}
p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.top-banner{
    background-image: url(/images/topbanner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: URL(/images/dreambg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width .drem-content{
    width: 87%;
    padding-right: 5%;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}
.experience-area{
    background-repeat: no-repeat;
    background-position: left;
}
#web-developer-experience{
    border-left: 7px solid;
    border-image: linear-gradient(orange, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
